*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
 }
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
 }



 .section{
   background-image: url(./images/background.jpg); 
   background-size: 100% 62%;
   background-repeat: no-repeat;
   background-position: bottom;
 }

.about {
   width: 100%;
   height: 750px;
   min-height: 500px;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   
  
  
   
}

.about__wrapper {
   width: 1140px;
   display: flex;
   align-items:center;
   justify-content: center;
   
}

.about__inner {
   width: 100%;
   display: flex;
   justify-content: space-between; 
   margin-bottom: 100px;
   
}


.about__container {
   
   line-height: 1.5;
   text-align:center;
   background: #978bb7;
   padding: 30px;
}

.about__close {
   position: relative;
   left: 280px;
   top: 0;
   width: 25px;
   height: 30px;
   opacity: 0.6;
   
   }
  
   .about__close:before, .about__close:after {
   position: absolute;
   right: 15px;
   content: '';
   height: 33px;
   width: 2px;
   background-color: #333;
   }
   .about__close:before {
   transform: rotate(45deg);
   }
   .about__close:after {
   transform: rotate(-45deg);
   }


.about__logo svg{
   width: 300px;
   height: 64px;
   margin-bottom: 20px;
   fill: white;
   width: 64px;
}

.about__icon {
   width: 64px;
   height: 64px;
}

.about__title {
   width: 300px;
   color: white;
   font-size: 21px;
   margin-bottom: 20px;
}


.about__footer {
   width: 300px;
   color: white;
   font-size: 18px;
   font-style: italic;
   margin-bottom: 20px;
}


.about__container:last-child {
   background: #8193c3;
}


.about__container:first-child {
   background: #f9926f;
}


@media (max-width: 1199px) {
.about {
      width: 930px;
}
.about__inner {
   width: 100%;
   
}
.about__container {
   width: 290px;

}


.about__title {
   width: 100%;
}

.about__footer {
   width: 100%;
}
.section {
         
         background-size: 100% 60%;
      }

      .about__close {
         
         left: 215px;
         
         }
      
      

}

@media (max-width: 991px){
      .about {
    width: 770px;
    
      }
      .about__inner {
         width: 100%;
         
      }
      .about__container {
         width: 245px;
         padding: 25px
         
      }
      
      .about__title {
         width: 100%;
         word-wrap: break-word;
      }
      
      .about__footer {
         width: 100%;
         
      }
      .section{
         
         background-size: 100% 70%;
      }

      .about__close {
         
         left: 170px;
         
         }

      
      
      }

   @media (max-width: 767px) {
      .about {
         width: 540px;
         height: 1200px
      }

      .about__inner {
         width: 100%;
         display: block;
         
         
      }
      .about__container {
         width: 100%;
         height: 100%;
         margin-bottom: 30px;
      }

      .section{
         
         background-size: 100% 80%;
      }

      .about__close {
         
         left: 470px;
         
         }

     
   }

   @media (max-width: 574px) {

      .about {
         width: 310px;
         height: 1700px
      }
      .about__close {
         
         left: 240px;
         
         }

   }

   @media (max-width: 320px) {

      .about {
         width: 170px;
         height: 1700px
      }

      .about__close {
         
         left: 190px;
         
         }

   }


   